@using labrob1.Models
@model IEnumerable<User>

@{
    Layout= "_Layout";
}

@{
    <div class="row">
        <div class="col-12">
            <h2>Користувачі</h2>

            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary" href="/users/add" role="button">Новий</a>
                </div>
            </div>

            <table class="table mt-5">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ім'я</th>
                        <th>Прізвище</th>
                        <th>Досвід програмування</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var user in Model) {
                        <tr>
                            <td>@user.id.ToString()</td>
                            <td>@user.name</td>
                            <td>@user.surname</td>
                            <td>@user.skillage.ToString() років</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}